{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- endunless -%}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <a href="{{ card_product.url }}" class="course-card">
    <div class="course-image-container">
      <img
        class="course-image"
        src="{{ card_product.featured_image | img_url: '490x294', crop: 'center' }}"
        alt="{{ card_product.title }}"
      >
      {% if card_product.metafields.custom.level != blank %}
        <div class="on-demand-badge">{{ card_product.metafields.custom.level }}</div>
      {% endif %}
    </div>
    <div class="course-content">
      <div class="course-header">
        <div class="course-title">{{ card_product.title }}</div>
        <div class="course-meta">
          <span>by {{ card_product.metafields.custom.vendor_name }}</span>
          <span class="dot"></span>
          <span
            >Save
            {{
              card_product.compare_at_price
              | minus: card_product.price
              | times: 100.0
              | divided_by: card_product.compare_at_price
              | round
            -}}
            %
            <span style="text-decoration: line-through">{{ card_product.compare_at_price | money }}</span>
            {{ card_product.price | money -}}
          </span>
        </div>
        <div class="course-description">{{ card_product.description | strip_html | truncatewords: 30 }}</div>
      </div>
      <div class="course-features">
        <div class="feature-row">
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M2 14.6668H14C14 11.7213 11.3137 9.3335 8 9.3335C4.68629 9.3335 2 11.7213 2 14.6668Z"
                    stroke="#454545" stroke-width="1.2" />
                <path
                    d="M11 4.3335C11 5.99035 9.65685 7.3335 8 7.3335C6.34315 7.3335 5 5.99035 5 4.3335C5 2.67664 6.34315 1.3335 8 1.3335C9.65685 1.3335 11 2.67664 11 4.3335Z"
                    stroke="#454545" stroke-width="1.2" />
              </svg>
            </div>
            <span>{{ card_product.metafields.custom.student_count }} enquiries</span>
          </div>
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M5.33325 14H10.6666M7.99992 11.3333V14M2.66659 2H13.3333C14.0696 2 14.6666 2.59695 14.6666 3.33333V10C14.6666 10.7364 14.0696 11.3333 13.3333 11.3333H2.66659C1.93021 11.3333 1.33325 10.7364 1.33325 10V3.33333C1.33325 2.59695 1.93021 2 2.66659 2Z"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
              </svg>
            </div>
            <span>{{ card_product.metafields.custom.course_type }}</span>
          </div>
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="7.99992" cy="8.00016"
                    r="6.66667" stroke="#454545"
                    stroke-width="1.2" />
                <path d="M8 5.3335V8.00016L9.33333 9.3335"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
              </svg>
            </div>
            <span>{{ card_product.metafields.custom.course_duration }}</span>
            <span class="dot"></span>
            <span>{{ card_product.metafields.custom.learning_period }}</span>
          </div>
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M3 6.33276C3 9.09419 5.23858 11.3328 8 11.3328C10.7614 11.3328 13 9.09419 13 6.33276C13 3.57134 10.7614 1.33276 8 1.33276C5.23858 1.33276 3 3.57134 3 6.33276Z"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M6 6.77778C6 6.77778 6.5 6.77778 7 7.66667C7 7.66667 8.58824 5.44444 10 5"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M11.255 10L11.7018 12.14C11.9889 13.5149 12.1324 14.2024 11.8376 14.5282C11.5427 14.854 11.0307 14.5737 10.0066 14.0132L8.49095 13.1836C8.24892 13.0511 8.12791 12.9848 8 12.9848C7.87209 12.9848 7.75108 13.0511 7.50905 13.1836L5.99339 14.0132C4.96932 14.5737 4.45728 14.854 4.16244 14.5282C3.86759 14.2024 4.01113 13.5149 4.29821 12.14L4.74501 10"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linejoin="round" />
              </svg>
            </div>
            <span>{{ card_product.metafields.custom.points }}</span>
          </div>
        </div>
        <div class="feature-row">
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M7.66667 14.6666C4.99537 14.6666 3.65973 14.6666 2.82986 13.6903C2 12.714 2 11.1426 2 7.99992C2 4.85722 2 3.28587 2.82986 2.30956C3.65973 1.33325 4.99537 1.33325 7.66667 1.33325C10.338 1.33325 11.6736 1.33325 12.5035 2.30956C13.1715 3.09547 13.3018 4.26695 13.3272 6.33325"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M5.33301 5.3335H9.99967M5.33301 8.66683H7.33301"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M13.0725 12.0705C13.6344 11.6614 13.9997 10.9985 13.9997 10.2502C13.9997 9.0076 12.9923 8.00024 11.7497 8.00024H11.583C10.3404 8.00024 9.33301 9.0076 9.33301 10.2502C9.33301 10.9985 9.69825 11.6614 10.2602 12.0705M13.0725 12.0705C12.7012 12.3408 12.2441 12.5002 11.7497 12.5002H11.583C11.0886 12.5002 10.6315 12.3408 10.2602 12.0705M13.0725 12.0705L13.461 13.2939C13.6092 13.7604 13.6833 13.9937 13.663 14.139C13.6209 14.4414 13.3743 14.6658 13.0832 14.6669C12.9432 14.6674 12.7337 14.5574 12.3145 14.3375C12.1348 14.2432 12.0449 14.196 11.953 14.1683C11.7657 14.1118 11.567 14.1118 11.3797 14.1683C11.2878 14.196 11.1979 14.2432 11.0181 14.3375C10.599 14.5574 10.3894 14.6674 10.2495 14.6669C9.95839 14.6658 9.71181 14.4414 9.66963 14.139C9.64936 13.9937 9.72346 13.7605 9.87164 13.2939L10.2602 12.0705"
                    stroke="#454545" stroke-width="1.2" />
              </svg>
            </div>
            <span>Certificate(s) included</span>
          </div>
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M1.33325 5.33333C1.33325 6.22785 6.73736 8.66667 7.99992 8.66667C9.26247 8.66667 14.6666 6.22785 14.6666 5.33333C14.6666 4.43881 9.26247 2 7.99992 2C6.73736 2 1.33325 4.43881 1.33325 5.33333Z"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M4 7.33325L4.16117 11.03C4.16609 11.1428 4.17708 11.2561 4.21439 11.3627C4.28485 11.5638 4.40387 11.7447 4.57804 11.8695C6.06108 12.9323 9.93892 12.9323 11.422 11.8695C11.5961 11.7447 11.7152 11.5638 11.7856 11.3627C11.8229 11.2561 11.8339 11.1428 11.8388 11.03L12 7.33325"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M14.2667 6.33325C14.2667 6.00188 13.9981 5.73325 13.6667 5.73325C13.3354 5.73325 13.0667 6.00188 13.0667 6.33325H14.2667ZM12.7144 13.1755L13.2981 13.3142L12.7144 13.1755ZM14.6191 13.1755L15.2029 13.0369L14.6191 13.1755ZM13.6667 6.33325H13.0667V11.0047H13.6667H14.2667V6.33325H13.6667ZM12.7144 13.1755L13.2981 13.3142C13.392 12.9191 13.554 12.5558 13.7304 12.2107C13.8889 11.9005 14.1083 11.5201 14.2248 11.2251L13.6667 11.0047L13.1087 10.7843C13.0197 11.0096 12.8731 11.2512 12.6618 11.6646C12.4684 12.0431 12.2569 12.5051 12.1306 13.0369L12.7144 13.1755ZM14.6191 13.1755L15.2029 13.0369C15.0766 12.5051 14.8651 12.0431 14.6717 11.6646C14.4604 11.2512 14.3138 11.0096 14.2248 10.7843L13.6667 11.0047L13.1087 11.2251C13.2252 11.5201 13.4446 11.9005 13.6031 12.2107C13.7795 12.5558 13.9415 12.9191 14.0354 13.3142L14.6191 13.1755ZM13.877 13.9999V13.3999H13.4564V13.9999V14.5999H13.877V13.9999ZM12.7144 13.1755L12.1306 13.0369C12.0478 13.3855 11.9847 13.8939 12.3516 14.2619C12.5226 14.4335 12.7313 14.5117 12.9077 14.5508C13.0835 14.5898 13.2733 14.5999 13.4564 14.5999V13.9999V13.3999C13.3071 13.3999 13.218 13.3905 13.1675 13.3793C13.1176 13.3682 13.1525 13.3656 13.2014 13.4146C13.2265 13.4398 13.2449 13.4686 13.2563 13.4953C13.2668 13.5202 13.2676 13.5346 13.2672 13.5302C13.2667 13.5252 13.2657 13.506 13.2699 13.4679C13.274 13.4301 13.2826 13.3797 13.2981 13.3142L12.7144 13.1755ZM14.6191 13.1755L14.0354 13.3142C14.0509 13.3797 14.0595 13.4301 14.0636 13.4679C14.0678 13.506 14.0668 13.5252 14.0663 13.5302C14.0659 13.5346 14.0666 13.5202 14.0772 13.4953C14.0886 13.4686 14.107 13.4398 14.1321 13.4146C14.181 13.3656 14.2159 13.3682 14.166 13.3793C14.1155 13.3905 14.0264 13.3999 13.877 13.3999V13.9999V14.5999C14.0602 14.5999 14.25 14.5898 14.4258 14.5508C14.6022 14.5117 14.8108 14.4335 14.9819 14.2619C15.3488 13.8939 15.2857 13.3855 15.2029 13.0369L14.6191 13.1755Z"
                    fill="#454545" />
              </svg>
            </div>
            <span>Tutor support</span>
          </div>
        </div>
      </div>
      <div class="course-tags">
        {% for tag in card_product.tags %}
          <div class="tag">{{ tag }}</div>
        {% endfor %}
      </div>
      <div class="course-actions">
        <div
          class="add-to-basket"
          onclick="event.preventDefault(); event.stopPropagation(); addToCart({{ card_product.variants.first.id }})"
        >
          <div class="feature-icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                  d="M11.5 8H20.196C20.8208 8 21.1332 8 21.3619 8.10084C22.3736 8.5469 21.9213 9.67075 21.7511 10.4784C21.7205 10.6235 21.621 10.747 21.4816 10.8132C20.9033 11.0876 20.4982 11.6081 20.3919 12.2134L19.7993 15.5878C19.5386 17.0725 19.4495 19.1943 18.1484 20.2402C17.1938 21 15.8184 21 13.0675 21H10.9325C8.18162 21 6.8062 21 5.8516 20.2402C4.55052 19.1942 4.46138 17.0725 4.20066 15.5878L3.60807 12.2134C3.50177 11.6081 3.09673 11.0876 2.51841 10.8132C2.37896 10.747 2.27952 10.6235 2.24894 10.4784C2.07874 9.67075 1.6264 8.5469 2.63812 8.10084C2.86684 8 3.17922 8 3.80397 8H7.5"
                  stroke="black" stroke-width="1.5"
                  stroke-linecap="round" />
              <path d="M14 12L10 12" stroke="black"
                  stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              <path d="M6.5 11L10 3M15 3L17.5 8"
                  stroke="black" stroke-width="1.5"
                  stroke-linecap="round" />
            </svg>
          </div>
          <div class="basket-text">Add to basket</div>
        </div>
        <div class="action-buttons">
          <div
            class="action-button"
            onclick="event.preventDefault(); event.stopPropagation(); sharecard_product('{{ card_product.url }}', '{{ card_product.title }}')"
          >
            <div class="feature-icon">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M20.3927 8.03168L18.6457 6.51461C17.3871 5.42153 16.8937 4.83352 16.2121 5.04139C15.3622 5.30059 15.642 6.93609 15.642 7.48824C14.3206 7.48824 12.9468 7.38661 11.6443 7.59836C7.34453 8.29742 6 11.3566 6 14.6525C7.21697 13.9065 8.43274 13.0746 9.8954 12.7289C11.7212 12.2973 13.7603 12.5032 15.642 12.5032C15.642 13.0554 15.3622 14.6909 16.2121 14.9501C16.9844 15.1856 17.3871 14.5699 18.6457 13.4769L20.3927 11.9598C21.4642 11.0293 22 10.564 22 9.99574C22 9.4275 21.4642 8.96223 20.3927 8.03168Z"
                    stroke="#141B34" stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M10.5676 3C6.70735 3.00694 4.68594 3.10152 3.39411 4.39073C2 5.78202 2 8.02125 2 12.4997C2 16.9782 2 19.2174 3.3941 20.6087C4.78821 22 7.03198 22 11.5195 22C16.0071 22 18.2509 22 19.645 20.6087C20.6156 19.64 20.9104 18.2603 21 16"
                    stroke="#141B34" stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
{%- else -%}
  {%- liquid
    assign ratio = 1
    assign placeholder = true
    if media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    endif
  -%}
  <a href="{{ card_product.url }}" class="course-card">
    <div class="course-image-container">
      <img
        class="course-image"
        src="{{ card_product.featured_image | img_url: '490x294', crop: 'center' }}"
        alt="{{ card_product.title }}"
      >
      {% if card_product.metafields.custom.level != blank %}
        <div class="on-demand-badge">{{ card_product.metafields.custom.level }}</div>
      {% endif %}
    </div>
    <div class="course-content">
      <div class="course-header">
        <div class="course-title">{{ card_product.title }}</div>
        <div class="course-meta">
          <span>by {{ card_product.metafields.custom.vendor_name }}</span>
          <span class="dot"></span>
          <span
            >Save
            {{
              card_product.compare_at_price
              | minus: card_product.price
              | times: 100.0
              | divided_by: card_product.compare_at_price
              | round
            -}}
            %
            <span style="text-decoration: line-through">{{ card_product.compare_at_price | money }}</span>
            {{ card_product.price | money -}}
          </span>
        </div>
        <div class="course-description">{{ card_product.description | strip_html | truncatewords: 30 }}</div>
      </div>
      <div class="course-features">
        <div class="feature-row">
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M2 14.6668H14C14 11.7213 11.3137 9.3335 8 9.3335C4.68629 9.3335 2 11.7213 2 14.6668Z"
                    stroke="#454545" stroke-width="1.2" />
                <path
                    d="M11 4.3335C11 5.99035 9.65685 7.3335 8 7.3335C6.34315 7.3335 5 5.99035 5 4.3335C5 2.67664 6.34315 1.3335 8 1.3335C9.65685 1.3335 11 2.67664 11 4.3335Z"
                    stroke="#454545" stroke-width="1.2" />
              </svg>
            </div>
            <span>{{ card_product.metafields.custom.student_count }} enquiries</span>
          </div>
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M5.33325 14H10.6666M7.99992 11.3333V14M2.66659 2H13.3333C14.0696 2 14.6666 2.59695 14.6666 3.33333V10C14.6666 10.7364 14.0696 11.3333 13.3333 11.3333H2.66659C1.93021 11.3333 1.33325 10.7364 1.33325 10V3.33333C1.33325 2.59695 1.93021 2 2.66659 2Z"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
              </svg>
            </div>
            <span>{{ card_product.metafields.custom.course_type }}</span>
          </div>
          <div class="feature-item">
            <div class="feature-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="7.99992" cy="8.00016"
                    r="6.66667" stroke="#454545"
                    stroke-width="1.2" />
                <path d="M8 5.3335V8.00016L9.33333 9.3335"
                    stroke="#454545" stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
              </svg>
            </div>
            <span>{{ card_product.metafields.custom.course_duration }}</span>
            <span class="dot"></span>
            <span>{{ card_product.metafields.custom.learning_period }}</span>
          </div>
        </div>
      </div>
      <div class="course-tags">
        {% for tag in card_product.tags %}
          <div class="tag">{{ tag }}</div>
        {% endfor %}
      </div>
      <div class="course-actions">
        <div
          class="add-to-basket"
          onclick="event.preventDefault(); event.stopPropagation(); addToCart({{ card_product.variants.first.id }})"
        >
          <div class="feature-icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                  d="M11.5 8H20.196C20.8208 8 21.1332 8 21.3619 8.10084C22.3736 8.5469 21.9213 9.67075 21.7511 10.4784C21.7205 10.6235 21.621 10.747 21.4816 10.8132C20.9033 11.0876 20.4982 11.6081 20.3919 12.2134L19.7993 15.5878C19.5386 17.0725 19.4495 19.1943 18.1484 20.2402C17.1938 21 15.8184 21 13.0675 21H10.9325C8.18162 21 6.8062 21 5.8516 20.2402C4.55052 19.1942 4.46138 17.0725 4.20066 15.5878L3.60807 12.2134C3.50177 11.6081 3.09673 11.0876 2.51841 10.8132C2.37896 10.747 2.27952 10.6235 2.24894 10.4784C2.07874 9.67075 1.6264 8.5469 2.63812 8.10084C2.86684 8 3.17922 8 3.80397 8H7.5"
                  stroke="black" stroke-width="1.5"
                  stroke-linecap="round" />
              <path d="M14 12L10 12" stroke="black"
                  stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              <path d="M6.5 11L10 3M15 3L17.5 8"
                  stroke="black" stroke-width="1.5"
                  stroke-linecap="round" />
            </svg>
          </div>
          <div class="basket-text">Add to basket</div>
        </div>
        <div class="action-buttons">
          <div
            class="action-button"
            onclick="event.preventDefault(); event.stopPropagation(); sharecard_product('{{ card_product.url }}', '{{ card_product.title }}')"
          >
            <div class="feature-icon">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M20.3927 8.03168L18.6457 6.51461C17.3871 5.42153 16.8937 4.83352 16.2121 5.04139C15.3622 5.30059 15.642 6.93609 15.642 7.48824C14.3206 7.48824 12.9468 7.38661 11.6443 7.59836C7.34453 8.29742 6 11.3566 6 14.6525C7.21697 13.9065 8.43274 13.0746 9.8954 12.7289C11.7212 12.2973 13.7603 12.5032 15.642 12.5032C15.642 13.0554 15.3622 14.6909 16.2121 14.9501C16.9844 15.1856 17.3871 14.5699 18.6457 13.4769L20.3927 11.9598C21.4642 11.0293 22 10.564 22 9.99574C22 9.4275 21.4642 8.96223 20.3927 8.03168Z"
                    stroke="#141B34" stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M10.5676 3C6.70735 3.00694 4.68594 3.10152 3.39411 4.39073C2 5.78202 2 8.02125 2 12.4997C2 16.9782 2 19.2174 3.3941 20.6087C4.78821 22 7.03198 22 11.5195 22C16.0071 22 18.2509 22 19.645 20.6087C20.6156 19.64 20.9104 18.2603 21 16"
                    stroke="#141B34" stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
{%- endif -%}
